body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color:black;
    background-size: cover;
    color: antiquewhite;
    background-repeat: no-repeat;
    
}


form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 950px;
    height: 420px;
    padding: 30px;
    background-color: rgba(33,33,33,.5);
    border-radius: 15px;
    box-sizing: border-box;
    
}
.title h1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition:.5s;
    
}
    .title h1:hover {
        letter-spacing: 7px;
        color:#a00;
        font-weight:800;
        font-style:revert;
    }

i {
    margin: 0 10px;
    color: #a00;
}

hr {
    width: 50%;
    color: #a00;
    box-shadow: 5px 5px 5px #a00;
    transition:.3s;
}
    hr:hover {
        width: 60%;
        
    }
label
{
    padding:10px;
    font-size:20px;
    letter-spacing:2px;
    transition:.9s;
    


    
}
    label:hover {
        color: #a00;
        letter-spacing: 7px;
    }

form input[type="text"], input[type="password"] {
    display: block;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    height: 10%;
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 10px;
    color: antiquewhite;
    padding: 0 8px;
    box-shadow: 2px 5px 4px #a00;
    transition:.9s;
}
form input[type="text"]:hover, input[type="password"]:hover {
    letter-spacing: 7px;
}
input[type="submit"] {
    width: 40%;
    padding: 16px;
    position: absolute;
    left: 30%;
    bottom: 100px;
    border-radius: 0 10px 0 10px;
    transition: .5s;
    display: block;
    background-color: #1123;
    box-shadow: 5px 5px 5px #a00;
    color:antiquewhite;
    border-color:#a00;
    border:none;
}

    input[type="submit"]:hover {
        background-color: black;
        cursor: pointer;
        color: red;
        letter-spacing: 7px;
    }
.x
{
    align-items:center;
}
input[type="checkbox"] {
    position: absolute;
    bottom: 50px;
    left: 1px;
    
}
a
{
    
    margin:10px;
    letter-spacing:2px;
   position:absolute;
   bottom:40px;
   left:20px;
   color:antiquewhite;
   transition:.8s;
}
    a:hover {
        color: #a00;
        letter-spacing: 5px;
    }
    

 


